.navbar{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    &__logo{
        font-size: 1.5rem;
    }
    &__bars{
        display: none;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 40%;
    }
}