*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}
button{
  background-color: transparent;
  outline: none;
  border:none;
}